body{
  margin: 0;
}

@font-face {
  font-family: "Visby-Heavy";
  src: url("VisbyCF-Heavy.otf");
}

@font-face {
  font-family: "Visby-Bold";
  src: url("VisbyCF-Bold.otf");
}

@font-face {
  font-family: "Visby-Reg";
  src: url("VisbyCF-Regular.otf");
}
@font-face {
  font-family: "Visby-Thin";
  src: url("VisbyCF-Thin.otf");
}

@font-face {

  font-family: "Tusker-77";
  src: url("TuskerGrotesk-7700Bold.otf");
}