
.contact-container {
 background-color: #ffffff;
font-family: "Visby-Reg";
 display: flex;
 flex-direction: row;
 z-index: 1;
 background-image: url(bird.gif);
 background-size: contain;
 background-repeat: no-repeat;
 background-size: 950px;
}

.bg-img{
  display: none;
}

.p{
      width: 300px;
}

form{
  display: flex;
  flex-direction: column;
padding: 170px;
height: fit-content;
max-width: 500px;
color: white;


}
 .contact-form{
background-color: rgb(34, 33, 33);
position: relative;
left: 53%;
} 
.sub-btn {
  background-color: rgba(32, 32, 32, 0.947);
  cursor: pointer;
  color: #ffffff;
  padding-top: 10px;
  margin-top: 10px;
}

.sub-btn:hover {

opacity: .5;
  cursor: pointer;
  color: #0b0b0b;
 
}


input{
padding: 10px;
margin-bottom: 10px;
border: 1px solid whitesmoke;
background-color: transparent;
color: whitesmoke;
padding-bottom: 10px;
font-family: inherit;
font-size: 1rem;

}


input:hover{

background-color: rgb(211, 210, 210);
}

textarea{
outline: none;
  background-color: transparent;
  padding-bottom: 30px;
}


.sm-txt{

  padding-top: 20px;
}


@media (max-width: 750px) {

.contact-container {
background-image: none;
display: flex;
flex-direction: column;
  }



.sub-btn{

  color: white;
  cursor: pointer;
  background-color: #0b0b0b;
  margin-top: 20px;
        border: none;
}

    .sub-btn:hover {
  opacity: .4;
      background-color: rgba(236, 236, 236, 0.873);
      cursor: pointer;

      
    }

    form{

      width: 300px;
    }

   
}



@media (max-width: 750px) {
.contact-container {
    background-image: none;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }


  .bg-img {
    width: 700px;
position: relative;
z-index: 1;
display: block;
  
  }

  .text {
    font-size: .9rem;
    top: -100px;
    left: 10%;
    width: 330px;
z-index: 2;
  }


  .contact-form{
position: relative;
left: -3%;
margin: 0;

  }


  form{
    padding: 0px;
    margin-left: 70px;
  }
}