
.container{
display: flex;
}

.left-col {
background-image: url(bird.png);
  background-size: 529px;
    background-repeat: no-repeat;
    background-position: left 120%;
  background-color: rgb(15, 14, 14);
  height: 100vh;
  width: 35%;
  padding: 50px;

}


.right-col {
width: 65%;
  background-color: rgb(250, 250, 250);




}


.hello{
font-size: 4rem;
  animation:
      typing 1.5s steps(18, end)forwards,
      blink .8s;
        border-right: transparent;
}

.co-text{
margin-top: 30%;

}

.hwt{
position: relative;
  font-family: Poppins;
  line-height: 1.4;
  width: 400px;


}
.time-text{

  position: relative;
  letter-spacing: 3px;
    font-family: 'Bungee', cursive;
    overflow: hidden;
    font-weight: 300;
font-size: 4rem;
  animation:
      typing 1.5s steps(18, end)forwards,
      blink .8s infinite;
    border-right: .5rem solid #d72638;
color: rgb(233, 232, 232);


   
}

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
border-radius: 10px;
color: rgb(233, 232, 232);
margin-top: 30px;
padding: 10px;
width: 500px;


}
.sub-btn {
  background-color: rgb(15, 14, 14);
  cursor: pointer;
color: rgb(233, 232, 232);
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.sub-btn:hover {

  opacity: .5;
  cursor: pointer;
  color: #0b0b0b;

}


input {
  padding: 10px;
  margin-bottom: 10px;
border: none;
border-bottom: 1px solid rgb(204, 204, 204);
  background-color: transparent;
  color: whitesmoke;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 1rem;

}


input:hover {

  background-color: rgb(211, 210, 210);
}

textarea {
  outline: none;
  background-color: transparent;
  padding-bottom: 30px;
}
.col-container {

width: 600px;
  margin-top: 30%;

  margin-left: 10%;
    font-family: 'Poppins', sans-serif;
}

 .icon{
   color: rgb(237, 237, 237);
   font-size: 2rem;
   border-radius: 50%;
   background-color: rgb(34, 33, 33);
   padding: .8rem;

   margin-left: 15px;
   width: fit-content;


 }

@media (max-width:950px){

  
}


@media (max-width:600px){
.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }



    .left-col {
      background-image: none;
  
      background-color: rgb(15, 14, 14);
width: 100%; 
  
    }
.right-col{
width: 100%;
  background-color: rgb(15, 14, 14);
  background-image: url(bird.png);
      background-size: 600px;
        background-repeat: no-repeat;
        background-position: left 20%;
        height: 300px;
}


       form { position: absolute;
        top: 600px;
        background-color: #a4a3a314;
          color: rgba(233, 232, 232, 0.311);
          width: 370px;
    padding: 20px;
        }

            

                .hwt{
font-family: 'Russo One';
                  width:330px;
                  text-align: center;
                }
}