
.goal-container{
display: grid;
grid-template-columns: 1fr 1fr;
  background-color: rgb(236, 236, 236);
height: 100vh;
padding: 10%; }

 

  

.sub-text{
line-height: 20px;
  font-family: "Tusker-36";

}

.text{
padding: 2rem;
border-radius: 10px;
font-family: "poppins";
}

 
@media (max-width: 750px) {
  .goal-container {
    display: grid;
    grid-template-columns: 1fr;
      background-color: rgb(236, 236, 236);
      height: max-content;
      width: 100%;
 
      padding: 0;
      padding-top: 3rem;
      overflow-x: hidden;
  }

.bg-img{

width:500px;
margin-top: 20px;

}

.text{

padding: 3rem;
}


}

