.goal-container{
display: grid;
grid-template-columns: 1fr 1fr;
font-family: 'Visby-Reg';


 } 

.sub-text{
  display: inline-block;
  overflow: hidden;
  width: min-content;
  font-family: 'Visby-Bold';
  text-transform: uppercase;
  font-size: 3rem;
animation:
    typing 1.5s steps(15, end)forwards,
    blink .8s infinite;
  border-right: .1em solid rgb(253, 29, 66);
  background-color: rgb(19, 19, 19);
color: white;
z-index: 2;
}

.text{
padding: 2rem;
border-radius: 10px;
margin-top:15rem;
width: 500px;
position: relative;
right: 60%;
line-height: 1.5;
font-size: 1rem;
letter-spacing: 1px;
z-index: 2;
}

 
@media (max-width: 750px) {
  .goal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

.bg-img{

width:700px;
margin-top: 20px;
padding-top: 250px;
border-bottom: 55px solid rgb(29, 29, 29);
}

.text {
  position: absolute;
  font-size: .8rem;
 top: -100px;
  left: 10%;
  width: 330px;


}


.sub-text {
  
  display: inline-block;
  overflow: hidden;
  width: min-content;
  font-family: 'Visby-Bold';
  text-transform: uppercase;
  font-size: 1.5rem;
  animation:
    typing 1.5s steps(15, end)forwards,
    blink .8s infinite;
  border-right: .1em solid rgb(253, 29, 66);
  background-color: rgb(19, 19, 19);
  color: white;
}




}

