.hero{
height: 100vh;
padding-bottom: 30px;
background-image: url(desktop.gif);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Bungee', cursive;
overflow: hidden;

}

.nv-mobile {
  display: block;
    display: flex;
    flex-direction: row;

    font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 5px;


}

.m-text{
letter-spacing: 3px;
font-size: 1.3rem;
line-height: .3;


}
 .name {
  margin-top: -15px;
  letter-spacing: 1px;
font-family: 'Bungee', cursive;

  overflow: hidden;
  font-weight: 300;
  font-size: 8rem;
  animation:
    typing 1.5s steps(18, end)forwards,
    blink .8s infinite;
  border-right: .3em solid #d72638;
line-height: 1;
 }


  .sm-txt{
   font-size: 1.3rem;
  letter-spacing: 3px;
padding: 5px;
  }

.reveal{
opacity: 0;
  animation: slide-up-fade 3s forwards;
line-height: .5;
font-family: 'Russo One', sans-serif;
padding-bottom: 5px;
margin-left: 5px;

}

.type-container {

position:fixed;
top:55%;
left:50%;
 

}


@keyframes typing{
 from{width:0}
 to { width:80%}

}

@keyframes blink {
  from {border-color: transparent;}
  to {border-color: #d72638;}
}


@keyframes slide-up-fade {
  from {
    top: 200px;
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    top: 100px;
    opacity: 1;
    transform: translateY(0%);
  }
 }



/* @media screen and (min-width: 1024px) {} */



@media (max-width:580px) {
.nv{

  display: none;
}
  .hero {
    background-image: url(mobile.gif);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position:bottom left -145px;
width: 440px;
height: 100vh;
overflow: hidden;
margin-top: -5%;
position: fixed;
margin-top: -30px;
  }


    .type-container {
      position: absolute;
      top: 5%;
      left: 3%;
      font-size: 2rem;
      letter-spacing: 2px;

    overflow: hidden;
      animation: 1s ease 0s 1 normal forwards;

    }
        .name {
    font-size: 4rem;
    animation:
      typing 1.5s steps(18, end)forwards,
      blink .8s infinite;
    border-right: .2em solid #d72638;
    color: rgb(28, 28, 28);

  }


    
        .desktopImg {
          display: none;
        }
    
        .sm-txt {
          font-size: 1rem;
            line-height: 1.5;
        }
    
        .m-text {
          font-size: 1.2rem;

line-height: 1;
        }
                .nv-mobile {
                  display:block;
                  display: flex;
                  flex-direction: column;
                 font-size: 1.2rem;
          position: fixed;
           bottom: 8%;
           left: 55%;
           border-left: 15px solid #d72638;

             
                }

}

.home-link{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

border-bottom: transparent;
}


    


/* 
@media (max-width:900px){
.hero{
background-image: url(mobile.gif);
background-size: contain;
background-repeat: no-repeat;
background-position: -100px;

}




.type-container {
  position: relative;
top: 630px;
left: 250px;
  font-size: 1rem;
  letter-spacing: 2px;
  overflow: hidden;
  font-family: 'Visby-Reg', monospace;
  animation: 1s ease 0s 1 normal forwards;

}

.name {
font-size: 3rem;
line-height: 1.5;
 
}

.desktopImg {
  display: none;
}

.sm-txt {
  font-size: 1rem;

}
.m-text{
  font-size: 1rem;
}
} */
