.hero{
height: 100vh;
padding-bottom: 30px;
background-image: url(desktop.gif);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Bungee', cursive;
overflow: hidden;

}


.m-text{
letter-spacing: 3px;
font-size: 1.5rem;
line-height: .3;

}
 .name {
  margin-top: -15px;
  letter-spacing: 1px;
font-family: 'Bungee', cursive;
/* font-family: 'Russo One', sans-serif; */
  overflow: hidden;
  font-weight: 300;
  font-size: 8rem;
  animation:
    typing 1.5s steps(18, end)forwards,
    blink .8s infinite;
  border-right: .1em solid #d72638;

  color: rgb(28, 28, 28);}


  .sm-txt{
   font-size: 2rem;

  }

.reveal{
opacity: 0;
  animation: slide-up-fade 3s forwards;
line-height: .5;
font-family: 'Russo One', sans-serif;
padding-bottom: 5px;
margin-left: 5px;

}

.type-container {
position: fixed;
left: 52%;
top: 45%;

 

}


@keyframes typing{
 from{width:0}
 to { width:100%}

}

@keyframes blink {
  from {border-color: transparent;}
  to {border-color: #d72638;}
}


@keyframes slide-up-fade {
  from {
    top: 200px;
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    top: 100px;
    opacity: 1;
    transform: translateY(0%);
  }
 }



/* @media screen and (min-width: 1024px) {} */



@media (max-width:480px) {

  .hero {
    background-image: url(mobile.gif);
    background-size: 460px;
    background-repeat: no-repeat;
    width: 450px;
    overflow-y: hidden;

  }


    .type-container {
      position: relative;
      top: 130px;
      left: 6%;
      font-size: 2rem;
      letter-spacing: 2px;
      overflow: hidden;
    
      animation: 1s ease 0s 1 normal forwards;

    }
        .name {
    font-size: 3.5rem;
    animation:
      typing 1.5s steps(18, end)forwards,
      blink .8s infinite;
    border-right: .1em solid #d72638;
    color: rgb(28, 28, 28);

  }


    
        .desktopImg {
          display: none;
        }
    
        .sm-txt {
          font-size: .8rem;
            line-height: 1.5;
        }
    
        .m-text {
          font-size: 1.1rem;

line-height: 1;
        }

}
      
    


/* 
@media (max-width:900px){
.hero{
background-image: url(mobile.gif);
background-size: contain;
background-repeat: no-repeat;
background-position: -100px;

}




.type-container {
  position: relative;
top: 630px;
left: 250px;
  font-size: 1rem;
  letter-spacing: 2px;
  overflow: hidden;
  font-family: 'Visby-Reg', monospace;
  animation: 1s ease 0s 1 normal forwards;

}

.name {
font-size: 3rem;
line-height: 1.5;
 
}

.desktopImg {
  display: none;
}

.sm-txt {
  font-size: 1rem;

}
.m-text{
  font-size: 1rem;
}
} */
