

.hero{
height: 100vh;
padding-bottom: 30px;
background-image: url(desktop.gif);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Bungee', cursive;
overflow: hidden;
z-index: 1;
 


}
.mobile-img {
  display: none;
  width: 550px;
  position: fixed;
  margin-left: -100px;
  bottom: 6px;
  z-index: 1;
}

.header {
display: none;
  padding-left: 60px;
  z-index: 10;


}
.m-text{
letter-spacing: 3px;
font-size: 1.5rem;
border-bottom: 8px solid #d72638;
width: 370px;
height: 5px;
margin-bottom:15px;

}
 .name {
  margin-top: -15px;
  letter-spacing: 1px;
font-family: 'Bungee', cursive;
  overflow: hidden;
  font-weight: 300;
  font-size: 8rem;
  animation:
    typing 1.5s steps(18, end)forwards,
    blink .8s infinite;
  border-right: .3em solid #d72638;
line-height: 1;
 }

  .sm-txt{
   font-size: 1.3rem;
  letter-spacing: 3px;
padding: 5px;
  }

.reveal{
opacity: 0;
  animation: slide-up-fade 3s forwards;
font-family: 'Russo One', sans-serif;
padding-bottom: 5px;
margin-left: 5px;

}

.type-container {
position:fixed;
top:55%;
left:50%;
 
}

.hp-nav{

  letter-spacing: normal;

font-size: 1.4rem;
padding-right: 30px;
color: rgb(68, 68, 68);
}




/* @media screen and (min-width: 1024px) {} */


@media (max-width:600px) {
        
            .nv{
            display: none;
          }
            .hero {
              background-image: none;
          overflow-y: hidden;

            }

            .name, .type-container{
              display: none;
            }

              

          .nv-mobile {
          display: block;
          font-size: 1.2rem;
          margin-top: -90px;
          margin-left: 10px;
          }


          .mobile-img{
          display: inline;
    width: 350px;
          margin-left: -30px;
          bottom:6px;
          z-index: 1;
          }

          .title-mobile{
          margin-top: 10rem;
            letter-spacing: -3px;
    font-family: "Tusker-77";
              overflow: hidden;
              font-weight: 800;
              font-size: 4rem;
              /* animation:
                  typing 1.5s steps(18, end)forwards,
                  blink .8s infinite;
                border-right: .5em solid #d72638; */
              line-height: .9;
              color: rgb(31, 30, 30);
              text-transform: uppercase;
              margin-left: 25px;
      

          }

          .header{
          display: inline;
          padding-left: 10px;
          position: fixed;
          top: -10px;
  font-family: "Visby-Heavy";

       
          }

          
          .h-link{
                font-family: "Visby-Heavy";
          padding: 10px;
color: rgb(31, 30, 30);
  letter-spacing: 1px;
            
          }
          .sub-title{
              color: rgb(31, 30, 30);
              letter-spacing: 2px;
                font-size: 1.3rem;
                line-height: 1.5;

        text-decoration: underline 5px #d72638;
                width: 400px;
      
        font-family: "Visby-Heavy";
        margin-left: 30px;
          }
          .h-link:hover{

          border-right: .1rem solid #d72638 ;
          }

          .meet{
margin-left: 80px;
            font-size: 1.3rem;
            letter-spacing: 2px;
            padding: 10px;
         
          }

          

          .fa-location-arrow{
color: whitesmoke;
            }
          
}




/*------------------ KEY FRAMES ---------------------- */

@keyframes typing {
  from {
    width: 0%
  }

  to {
    width: 100%
  }

}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: #d72638;
  }
}


@keyframes slide-up-fade {
  from {
    top: 200px;
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    top: 100px;
    opacity: 1;
    transform: translateY(0%);
  }
}
    


/* 
@media (max-width:900px){
.hero{
background-image: url(mobile.gif);
background-size: contain;
background-repeat: no-repeat;
background-position: -100px;

}




.type-container {
  position: relative;
top: 630px;
left: 250px;
  font-size: 1rem;
  letter-spacing: 2px;
  overflow: hidden;
  font-family: 'Visby-Reg', monospace;
  animation: 1s ease 0s 1 normal forwards;

}

.name {
font-size: 3rem;
line-height: 1.5;
 
}

.desktopImg {
  display: none;
}

.sm-txt {
  font-size: 1rem;

}
.m-text{
  font-size: 1rem;
}
} */
