.navbar{
display: flex;
  position: fixed;
  z-index: 10;
left: 3%;
}

.home-link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: px;

  border-bottom: transparent;
}


a{
color: rgb(214, 214, 214);
  text-decoration: none;
letter-spacing: 5px;


 }
 


 .links{ 
  list-style: none;

          display: flex;
          gap: 30px;
line-height: 1;
            font-size: 1.2rem;
      padding: 5px;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      
      height: 20px;

        }
        .link{ 
border-left: 10px solid #d72638;

        }

       a:hover, .link:hover{
          border-left: transparent;
          color:#797777; 
      
  }

.fa-location-arrow{

color: rgb(28, 28, 28);

  font-size: 2rem;
}

 .fa-location-arrow:hover{

color:
#fafafa;
font-size: 2rem;
text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
