.navbar{
display: flex;
  position: fixed;
  z-index: 10;
}


a{
color: rgb(28, 28, 28);
  text-decoration: none;

 }
 
 .links{ list-style: none;
          margin-top: 10px;
          display: flex;
          gap: 30px;
line-height: 1;
            font-size: 1.5rem;
      padding: 5px;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      text-shadow: #d72638;
      height: 20px;

        }
        .link{ 
border-left: 10px solid #d72638;

        }

       a:hover, .link:hover{
          border-left: transparent;
          color:#797777; 
  }

.fa-location-arrow{

color: rgb(28, 28, 28);

  font-size: 2rem;
}

 .fa-location-arrow:hover{

color:
#fafafa;
font-size: 2rem;
text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
