.nav-bar {
  position: fixed;
 left: 35%;
  display: flex;
  align-content: center;
  color: black;
  font-family: 'Tusker-36';
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  list-style: none;
  width: fit-content;

}

.a-link {
  color: #e1e1e1;
  padding:15px

}

.a-link:hover{
color: #ccb498;


}

.initial{
color: rgb(202, 202, 202);
  background-color: #2e2c2f;
    box-shadow: 0px 3px 12px 8px rgba(0, 0, 0, 0.1);
position: fixed;
font-size: 1rem ;
top: 85%;
left: 95%;
}


.mobile-links, .fa-bars{
display: none;
}



@media only screen and (min-width: 320px) and (max-width: 768px) {

.a-link{
display: none;

}
  .fa-bars{
      cursor: pointer;
      left: 80%;  
      display: inline-flex;
      position: fixed;
      color: #efefef;
   
  }
  .mobile{
    background-color: #212121;
    width: 100%;
    box-shadow: rgba(16, 15, 15, 0.58) 0px 5px 15px;
    display: flex;
     align-items: center;


  color: #fff;


  }




}